.movies {
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    padding: 0 15px;
  }

  .movies__more-films {
    min-width: 240px;
    padding: 11px 20px 9px;
  }
} 