  .promo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 664px;
    padding: 0;
    background-color: #073042;
  }
  
  .promo__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 730px;
    flex-grow: 1;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }
  
  .promo__logo {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 320px;
    height: 320px;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 768px) {
    .promo__title {
      width: 430px;
      font-size: 30px;
      line-height: 38px;
    }
  } 
  
  