  .page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    font-family: 'Inter', 'Areal', 'Helvetica', 'sans-serif';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
  
  .btn {
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:hover {
    opacity: .6;
    transition: opacity 0.2s linear 0s;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    opacity: 0.6;
    transition: color .2s linear 0s;
  }
  
  .link_active {
    font-weight: 500;
  }

 