.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 83px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}

.search__container {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin: 0 0 40px;
  border: #e8e8e8 1px solid;
  border-radius: 50px;
  width: 80.5%;
}

.search__input {
  width: 60.5%;
  padding: 0 22px;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  border: none;
}

.search__input:focus {
  outline: 1px solid rgba(61, 220, 132, 1);
  border-radius: 50px;
  width: 60%;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  width: 34px;
  height: 34px;
  background: url('../../images/FindButton.svg') center no-repeat;
  border: none;
  border-radius: 48px;
}

.search__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px;
}

.search__films {
  margin: 0 0 0 12px;
  padding-right: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.search__tumbler {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  filter: drop-shadow(0 2px 2px #fff);
  cursor: pointer;
}

.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  background-color:#fff;
  border: 1px solid #2be080;
  border-radius: 20px;
  transition: .6s;
  transform: scale(1, 1);
  inset: 0;
}

.search__slider::before {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  content: "";
  border-radius: 50%;
  background-color: #2be080;
}

.search__checkbox:checked + .search__slider {
  background-color: #2be080;
}

.search__checkbox:checked + .search__slider::before {
  transform: translateX(16px);
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 60px 0 57px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .search__container {
    width: 100%;
  }

  .search__toggle {
    margin-top: 38px;
  }
}

@media screen and (max-width: 650px) {
  .search {
    padding: 60px 0 44px;
    max-width: 580px;
  }

  .search__films {
    padding-right: 12px;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
  }

  .search__container {
    margin: 0 0 45px;
  }

  .search__toggle {
    margin: 0;
  }

  .search__button {
    width: 26px;
    height: 26px;
    background: url('../../images/FindButton.svg') center no-repeat;
    border: none;
    border-radius: 48px;
  }
}